# Usability Test Results

## Table of Contents
- [Results](#results)
- [Summary](#summary)
- [SEQ Scores](#seq-scores)
- [SUS Scores](#sus-scores)
- [Identified Issues](#identified-issues)
- [Issues Severity](#issues-severity)
- [Gitlab Issues](#gitlab-issues)

## Results
All review data submitted.

SEQ Results

| User | User 1  | User 2 | User 3 | User 4 | User 5 | Task Avg |
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | ----------- |
| Task 1 | 5 | 6 | 7 | 6 | 6 | 6.00 |
| Task 2 | 4 | 7 | 6 | 6 | 5 | 5.60 |
| Task 3 | 6 | 6 | 7 | 7 | 7 | 6.60 |
| Task 4 | 6 | 6 | 7 | 5 | 6 | 6.00 |
| Task 5 | 7 | 7 | 5 | 7 | 7 | 6.60 |
| Task 6 | 6 | 6 | 7 | 4 | 6 | 5.80 |
| User avg | 5.67 | 6.33 | 6.50 | 5.83 | 6.17 |      |

Task 1 Comments:

- Groups highlight is not clear enough for people with limited vision. Use of a different colour or making the tab more obvious is needed. I thought I was on the friends tab at first because it looks white underneath it.

    Done callout isn't large enough and is a struggle to reach. If intentional to deter from accidentally creating groups this is good but you can do this by a confirmation dialogue instead. I'd put the done dialogue near the bottom so users are encouraged to scroll if needed and then confirm once having read everything.

    Overall very easy process just some misplaced elements.

- Nice looking UI, like the option to sign up with google/apple. Creating groups is intuitive while offering all features you would need.

SUS Results

| User | User 1  | User 2 | User 3 | User 4 | User 5 | 
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | 
| SUS Q1 | 3 | 3 | 5 | 5 | 5 |  
| SUS Q2 | 4 | 1 | 1 | 1 | 4 |  
| SUS Q3 | 4 | 4 | 5 | 5 | 4 |  
| SUS Q4 | 1 | 3 | 4 | 1 | 1 |  
| SUS Q5 | 4 | 5 | 5 | 5 | 3 |  
| SUS Q6 | 3 | 2 | 1 | 1 | 1 |  
| SUS Q7 | 4 | 4 | 5 | 4 | 4 |  
| SUS Q8 | 2 | 2 | 2 | 1 | 1 |  
| SUS Q9 | 4 | 5 | 5 | 4 | 4 |  
| SUS Q10 | 1 | 2 | 1 | 5 | 1 |  





## Summary
Overview of the testing results, including both qualitative and quantitative data.

## SEQ & SUS Scores
Detailed calculations and analysis of SUS scores.

## Identified Issues
List of all identified issues encountered during the usability testing.

## Issues Severity
Classification of issues based on severity:
- Minor
- Moderate
- Major

## Gitlab Issues
Links to corresponding issues created in Gitlab for tracking:
- Issue 1: [Link](#)
- Issue 2: [Link](#)
- Issue 3: [Link](#)