# Usability Test Results

## Table of Contents
- [Results](#results)
- [Summary](#summary)
- [SEQ Scores](#seq-scores)
- [SUS Scores](#sus-scores)
- [Identified Issues](#identified-issues)
- [Issues Severity](#issues-severity)
- [Gitlab Issues](#gitlab-issues)

## Results
All review data submitted.

### SEQ Results

| User | User 1  | User 2 | User 3 | User 4 | User 5 | Task Avg |
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | ----------- |
| Task 1 | 5 | 6 | 7 | 6 | 6 | 6.00 |
| Task 2 | 4 | 7 | 6 | 6 | 5 | 5.60 |
| Task 3 | 6 | 6 | 7 | 7 | 7 | 6.60 |
| Task 4 | 6 | 6 | 7 | 5 | 6 | 6.00 |
| Task 5 | 7 | 7 | 5 | 7 | 7 | 6.60 |
| Task 6 | 6 | 6 | 7 | 4 | 6 | 5.80 |
| User avg | 5.67 | 6.33 | 6.50 | 5.83 | 6.17 |      |

#### Task 1 Comments:

- Groups highlight is not clear enough for people with limited vision. Use of a different colour or making the tab more obvious is needed. I thought I was on the friends tab at first because it looks white underneath it.
Done callout isn't large enough and is a struggle to reach. If intentional to deter from accidentally creating groups this is good but you can do this by a confirmation dialogue instead. I'd put the done dialogue near the bottom so users are encouraged to scroll if needed and then confirm once having read everything.
Overall very easy process just some misplaced elements.

- Nice looking UI, like the option to sign up with google/apple. Creating groups is intuitive while offering all features you would need.

#### Task 2 Comments:

- Process is clear; any trouble only comes from clumsiness of figma and isn't related to groups work. Well laid out. Confirmation is inconsistent with adding groups but this is the style that should be used.

- Again intuitive and professional looking user flow, with plenty of options without bloating. I think the only thing missing is there's no "back" option once you click add expense, which could be annoying if you miss click the group. Other then that looks really good!

#### Task 3 Comments:

- Activity icon should have a notification telling how many expenses you have yet to be resolved.
Overall incredibly good workflow though for this. Obvious and the information density is good. Text for dates and money is a bit small though. I'd play with sizes a bit in each item.

#### Task 4 Comments:

- Easy to find once you're used to how the app lays things out.

    Initial though process is based on previous app usage. This would be easily conveyed through prompt-based tutorial on first launching the app or using a feature.

    1) Add group
    2) In group management click + near friends
    3) Select friend
    4) Confirm

    Use of confirmation dialogues and callouts really good.

- Adding was very easy, but scrolling to manage deleted my group. Just a figma thing the actual action was very intuitive.

- In this example the group wasn't saved, but assuming it did save it was easy to understand, and would be familiar to most users.

#### Task 5 Comments:

- Very straight forward and inline with modern workflows.

    1) Profile
    2) Tap email
    3) Edit and confirm

- i had a liitle difficulty with this one but easy and intuitive once done

- Went to profile and found email. Was very easy.

#### Task 6 Comments:

- 1) Group
    2) Expense
    3) Shows expense stats here

    Overall easy to find; any trouble due to figma resetting prototype when regoing to manage page.

    Nesting expenses under so many taps is only downside. I should have a way to see this with one tap given it's a feature users would use incredibly often.

- I can see that Elliot, Dillon, and felix owe me 16.64 each. On the manage tab. Clicking on the expense and navigating to the specifics of the most recent expense I can see Felix has settled the debt. This process took me a minute to realise that the info provided on the manage tab was the not the intented information for this task.


### SUS Results

| User | User 1  | User 2 | User 3 | User 4 | User 5 | 
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | 
| SUS Q1 | 3 | 3 | 5 | 5 | 5 |  
| SUS Q2 | 4 | 1 | 1 | 1 | 4 |  
| SUS Q3 | 4 | 4 | 5 | 5 | 4 |  
| SUS Q4 | 1 | 3 | 4 | 1 | 1 |  
| SUS Q5 | 4 | 5 | 5 | 5 | 3 |  
| SUS Q6 | 3 | 2 | 1 | 1 | 1 |  
| SUS Q7 | 4 | 4 | 5 | 4 | 4 |  
| SUS Q8 | 2 | 2 | 2 | 1 | 1 |  
| SUS Q9 | 4 | 5 | 5 | 4 | 4 |  
| SUS Q10 | 1 | 2 | 1 | 5 | 1 |  





## Summary
Overview of the testing results, including both qualitative and quantitative data.

## SEQ & SUS Scores
Detailed calculations and analysis of SUS scores.

## Identified Issues
List of all identified issues encountered during the usability testing.

## Issues Severity
Classification of issues based on severity:
- Minor
- Moderate
- Major

## Gitlab Issues
Links to corresponding issues created in Gitlab for tracking:
- Issue 1: [Link](#)
- Issue 2: [Link](#)
- Issue 3: [Link](#)