# Usability Test Results

## Table of Contents
- [Results](#results)
- [Summary](#summary)
- [SEQ Scores](#seq-scores)
- [SUS Scores](#sus-scores)
- [Identified Issues](#identified-issues)
- [Issues Severity](#issues-severity)
- [Gitlab Issues](#gitlab-issues)

## Results
All review data submitted.

SEQ Results

| User | User 1  | User 2 | User 3 | User 4 | User 5 | Task Avg |
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | ----------- |
| Task 1 | 5 | 6 | 7 | 6 | 6 | 6.00 |
| Task 2 | 4 | 7 | 6 | 6 | 5 | 5.60 |
| Task 3 | 6 | 6 | 7 | 7 | 7 | 6.60 |
| Task 4 | 6 | 6 | 7 | 5 | 6 | 6.00 |
| Task 5 | 7 | 7 | 5 | 7 | 7 | 6.60 |
| Task 6 | 6 | 6 | 7 | 4 | 6 | 5.80 |
| User avg | 5.67 | 6.33 | 6.50 | 5.83 | 6.17 |      |

SUS Results

| User | User 1  | User 2 | User 3 | User 4 | User 5 | 
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | 
| SUS Q1 | 3 | 3 | 5 | 5 | 5 |  
| SUS Q2 | 4 | 1 | 1 | 1 | 4 |  
| SUS Q3 | 4 | 4 | 5 | 5 | 4 |  
| SUS Q4 | 1 | 3 | 4 | 1 | 1 |  
| SUS Q5 | 4 | 5 | 5 | 5 | 3 |  
| SUS Q6 | 3 | 2 | 1 | 1 | 1 |  
| SUS Q7 | 4 | 4 | 5 | 4 | 4 |  
| SUS Q8 | 2 | 2 | 2 | 1 | 1 |  
| SUS Q9 | 4 | 5 | 5 | 4 | 4 |  
| SUS Q10 | 1 | 2 | 1 | 5 | 1 |  





## Summary
Overview of the testing results, including both qualitative and quantitative data.

## SEQ & SUS Scores
Detailed calculations and analysis of SUS scores.

## Identified Issues
List of all identified issues encountered during the usability testing.

## Issues Severity
Classification of issues based on severity:
- Minor
- Moderate
- Major

## Gitlab Issues
Links to corresponding issues created in Gitlab for tracking:
- Issue 1: [Link](#)
- Issue 2: [Link](#)
- Issue 3: [Link](#)