# Usability Test Results

## Table of Contents
- [Results](#results)
- [Summary](#summary)
- [SEQ Scores](#seq-scores)
- [SUS Scores](#sus-scores)
- [Identified Issues](#identified-issues)
- [Issues Severity](#issues-severity)
- [Gitlab Issues](#gitlab-issues)

## Results
All review data submitted.

| User | User 1  | User 2 | User 3 | User 4 | User 5 | Task Avg |
| ----------- | ----------- | ----------- | ----------- | ----------- |----------- | ----------- |
| Task 1 | 5 | 6 | 7 | 6 | 6 | 6.00 |
| Task 2 | 4 | 7 | 6 | 6 | 5 | 5.60 |
| Task 3 | 6 | 6 | 7 | 7 | 7 | 6.60 |
| Task 4 | 6 | 6 | 7 | 5 | 6 | 6.00 |
| Task 5 | 7 | 7 | 5 | 7 | 7 | 6.60 |
| Task 6 | 6 | 6 | 7 | 4 | 6 | 5.80 |
| User avg | 5.67 | 6.33 | 6.50 | 5.83 | 6.17 |      |

| Task | SEQ scores  | SEQ average | Feedback |
| ----------- | ----------- | ----------- | ---------------------- |
| Task 1      | 5, 6, 7     | 6           | User 1: Groups highlight is not clear enough for people with limited vision. Use of a different colour or making the tab more obvious is needed. I thought I was on the friends tab at first because it looks white underneath it. Done callout isn't large enough and is a struggle to reach. If intentional to deter from accidentally creating groups this is good but you can do this by a confirmation dialogue instead. I'd put the done dialogue near the bottom so users are encouraged to scroll if needed and then confirm once having read everything. Overall very easy process just some misplaced elements.                   |
| Task 2      | 4, 6, 7     | 5.67        | User 1: Process is clear; any trouble only comes from clumsiness of figma and isn't related to groups work. Well laid out. Confirmation is inconsistent with adding groups but this is the style that should be used.                   |
| Task 3      | 6, 6, 7     | 6.33        | User 1: Activity icon should have a notification telling how many expenses you have yet to be resolved. Overall incredibly good workflow though for this. Obvious and the information density is good. Text for dates and money is a bit small though. I'd play with sizes a bit in each item.                   |
| Task 4      | 6, 6, 7     | 6.33        | User 1: Easy to find once you're used to how the app lays things out. Initial though process is based on previous app usage. This would be easily conveyed through prompt-based tutorial on first launching the app or using a feature. 1) Add group. 2) In group management click + near friends. 3) Select friend. 4) Confirm. Use of confirmation dialogues and callouts really good.              |
| Task 5      | 5, 7, 7     | 6.33        | User 1: Very straight forward and inline with modern workflows. 1) Profile. 2) Tap email. 3) Edit and confirm.            |
| Task 6      | 6, 6, 7     | 6.33        | User 1: 1) Group. 2) Expense. 3) Shows expense stats here. Overall easy to find; any trouble due to figma resetting prototype when regoing to manage page. Nesting expenses under so many taps is only downside. I should have a way to see this with one tap given it's a feature users would use incredibly often.             |

## Summary
Overview of the testing results, including both qualitative and quantitative data.

## SEQ & SUS Scores
Detailed calculations and analysis of SUS scores.

## Identified Issues
List of all identified issues encountered during the usability testing.

## Issues Severity
Classification of issues based on severity:
- Minor
- Moderate
- Major

## Gitlab Issues
Links to corresponding issues created in Gitlab for tracking:
- Issue 1: [Link](#)
- Issue 2: [Link](#)
- Issue 3: [Link](#)